
#topBar, #sideField{
    -fx-background-color: #fff;
}

#textField{
    -fx-background-color: rgba(0,0,0,0);
}

#searchHBox, #yourEvents, #allEvents, #createEvent, #createSpecialTicketBtn{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

#sidebar{
    -fx-border-radius: 20;
    -fx-border-color: #D7D7D7;
    -fx-border-width: 2;
}

